.ninejsMainContainer {
  &.page-container {
    height: auto;
  }
  .mainContainerLogo {
    background: url('../../resources/images/9js.png') no-repeat center/100%
  }
  .ml {
    margin-left: 3px;
  }

  .sidebar-menu {
    flex-grow: 1;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 11;
    > .header {
      flex-grow: 0;
      align-content: flex-start;
    }
    > .content {
      flex-grow: 1;
    }
    > footer {
      flex-grow: 0;
      align-content: flex-end;
    }
  }
  &.page-container .sidebar-menu .main-menu li.active > a {
    background-color: #2b303a;
    color: #ffffff;
  }

  &.page-container .sidebar-menu .main-menu li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #aaabae;
    z-index: 2;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    cursor: pointer;
    i {
      width: 21px;
      height: 21px;
    }
  }
}