
.mainContainerLogo {
  background: embedurl('../../resources/images/9js.png')
}
.ml {
  margin-left: 3px;
}

.page-container .sidebar-menu .main-menu li.active > a {
  background-color: #2b303a;
  color: #ffffff;
}

.page-container .sidebar-menu .main-menu li a {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #aaabae;
  z-index: 2;
  -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  cursor: pointer;
  i {
    width: 21px;
    height: 21px;
  }
}